:host {
  ::ng-deep .p-inputtext {
    padding-top: 10.5px;
    padding-bottom: 10.5px;
  }

  ::ng-deep .p-megamenu-start {
    height: 40px;
    width: 95px;
    margin-right: 20px;
    background-color: white;
    border-radius: 6px;
  }

  ::ng-deep .p-submenu-icon .pi .pi-angle-down{
    color: white !important;
  }
}
