
<p-panel class="slide-description" header="Third Generation, Family Owned Business">
  <div class="borTop">
    <div class="pad-top15">
      We have dedicated ourselves to keeping our promise to engineer and produce reliable, custom designed machinery for the meat and food industries. Our equipment provides engineering differences that stand up to your bottom line and closest scrutiny.
    </div>
  </div>
</p-panel>

<p-panel class="slide-description" header="Third Generation, Family Owned Business">
  <div class="borTop">
    <div class="pad-top15">
      Our promise to you: only the finest quality materials are used, 100% stainless steel that is precision welded, not bolted, providing a strong, unibody construction in each piece.
    </div>
  </div>
</p-panel>
