.p-menubar {
  background-color: #343434 !important;

  .p-menuitem {
    margin-left: 5px !important;
    margin-right: 5px !important;
    font-size: 1.1rem !important;
  }

  .p-menuitem-text {
    color: white !important;
  }
}

.p-submenu-list {
  padding: 0 !important;

  .p-menuitem {
    background-color: grey !important;
    margin: 0 !important;
    padding: 5px !important;
  }

}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button{
  background-color: #004978 !important;
}

.p-menubar-col-2 {
  background-color: #DCDCDC !important;
}

.p-menuitem-link {
  padding: 5px !important;
}

.p-menubar-end {
  margin-left: 200px !important;
}

.p-button {
  background-color: #004978 !important;
}

.p-carousel {
  background-color: lightgrey !important;
}

.borTop {
  width: 20%;
  border-top: 2px solid white;
}

// Padding / Margin

.pad-top5 {
  padding-top: 5px !important;
}

.pad-bot5 {
  padding-bottom: 5px !important;
}

.pad-left5 {
  padding-left: 5px !important;
}

.pad-right5 {
  padding-left: 5px !important;
}

.pad-top10 {
  padding-top: 10px !important;
}

.pad-bot10 {
  padding-bottom: 10px !important;
}

.pad-left10 {
  padding-left: 10px !important;
}

.pad-right10 {
  padding-left: 10px !important;
}

.pad-top15 {
  padding-top: 15px !important;
}

.pad-bot15 {
  padding-bottom: 15px !important;
}

.pad-left15 {
  padding-left: 15px !important;
}

.pad-right15 {
  padding-left: 15px !important;
}

.mar-top5 {
  margin-top: 5px !important;
}

.mar-bot5 {
  margin-bottom: 5px !important;
}

.mar-left5 {
  margin-left: 5px !important;
}

.mar-right5 {
  margin-left: 5px !important;
}

.mar-top10 {
  margin-top: 10px !important;
}

.mar-bot10 {
  margin-bottom: 10px !important;
}

.mar-left10 {
  margin-left: 10px !important;
}

.mar-right10 {
  margin-left: 10px !important;
}

.mar-top15 {
  margin-top: 15px !important;
}

.mar-bot15 {
  margin-bottom: 15px !important;
}

.mar-left15 {
  margin-left: 15px !important;
}

.mar-right15 {
  margin-left: 15px !important;
}

.card {
  padding: 1rem;
  border-radius: 4px;
  border: 0 !important;
  margin-bottom: 2rem;
}
