<p-panel class="footer-content">
  <div class="footer-logo pad-top15">

  </div>
  <div class="footer-services pad-top15">
    <h2 class="footer-header">SERVICES</h2>
    <h4 class="footer-item">OUR PRODUCTS</h4>  
    <h4 class="footer-item">AUTOMATION</h4>
    <h4 class="footer-item">REPLACEMENT PARTS</h4>
    <h4 class="footer-item">VIDEO GALLERY</h4>
    </div>

    <div class="footer-company pad-top15">
      <h2 class="footer-header">COMPANY</h2>
      <h4 class="footer-item">ABOUT US</h4>
      <h4 class="footer-item">CONTACT US</h4>
    </div>
  </p-panel>