
:host {
  ::ng-deep .p-panel .p-component{
    width: 100% !important;
  }

  ::ng-deep .p-panel-header{
    padding: 0;
  }

  ::ng-deep .p-panel-content {
    width: 100% !important;
  }

}

.footer-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}