
:host {
  ::ng-deep .p-panel .p-component{
    width: 100% !important;
  }

  ::ng-deep .p-panel-header{
    padding: 0;
  }

  ::ng-deep .p-panel-content {
    background-color: #343434;
  }

}

h2 {
  margin: 16px 0 !important;
}

h4 {
  margin: 6px 0;
}

.footer-content {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  background-color: #343434;
}

.footer-container {
  display: flex;
}

.footer-left {
  display: flex;
  width: 100%;
}

.footer-right {
  display: flex;
  justify-content:flex-end;
  width: 1000%;
}

.footer-header {
  font-size: 28px;
  color: white
}

.footer-item { 
  color: grey;
}

.footer-item:hover{ 
  color: lightgrey;
  cursor: pointer;
}

.footer-card {
  display: flex;
  flex-direction: column;
}
