<p-panel class="footer-content">
  <div class="footer-container">
    <div class="footer-left">
      <div class="footer-logo pad-top15">

      </div>
    </div>
    
    <div class="footer-right"> 
      <div class="footer-services pad-top15">
        <div class="footer-card card">
          <h2 class="footer-header">SERVICES</h2>
          <h4><a class="footer-item">OUR PRODUCTS</a></h4>  
          <h4><a class="footer-item">AUTOMATION</a></h4>
          <h4><a class="footer-item">REPLACEMENT PARTS</a></h4>
          <h4><a class="footer-item">VIDEO GALLERY</a></h4>
        </div>
      </div>

      <div class="footer-company pad-top15">
        <div class="footer-card card">
          <h2 class="footer-header">COMPANY</h2>
          <h4><a class="footer-item">ABOUT US</a></h4>
          <h4><a class="footer-item">CONTACT US</a></h4>
        </div>
      </div>
    </div>
  </div>
  
  </p-panel>
